<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India</title>
</head>
<body>
    <center>
        <h1>
            <marquee behavior="" direction="">This is INDIA web homepage</marquee>
        </h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus harum, eligendi hic ducimus magnam nesciunt aliquid aliquam, id inventore enim, asperiores aut porro adipisci quia. Dolorum quisquam at eligendi nobis.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim culpa dolorum eaque delectus quis saepe sint mollitia expedita sunt? Perferendis vero obcaecati, ipsa aspernatur amet illum rem? Ipsa, voluptates ea!
        Sunt ad illum soluta atque magnam harum rerum culpa dolorum labore cum alias, fugit eaque? Asperiores quaerat nulla debitis nam voluptatem, quos iste alias, illum dicta expedita fuga corrupti ad.
        Corrupti aliquam quis asperiores non accusamus minima aperiam nihil nemo, animi quas fugit veritatis inventore accusantium rem. Doloribus magnam quae suscipit itaque eaque harum quam molestias libero? Odio, laudantium dolores? 
        Corrupti aliquam quis asperiores non accusamus minima aperiam nihil nemo, animi quas fugit veritatis inventore accusantium rem. Doloribus magnam quae suscipit itaque eaque harum quam molestias libero? Odio, laudantium dolores? 
        <h1>Go and watch the matches of<a href="{% url 'app2:rcb' %}">RCB</a></h1>
        <h1>Go and watch the matches of<a href="{% url 'app1:csk' %}">CSK</a></h1>
        
        <h1>app1_str <a href="{% url 'app1:app1_str' %}" target="_blank">String-1</a></h1>
        <h1>app1_str <a href="{% url 'app2:app2_str' %}" target="_blank">String-2</a></h1>
    </center>
</body>
</html>